
.btnSubmit{
    font-weight: bold !important;
}

.headerSection{
    padding-right: 25px !important;
    border: none !important;
}
.footerSection{
    border: none !important;
}
.headerSection #btnClose{

    width: .005px !important;
    height: .005px !important;
}
