.titleColumn{
    color: red;
    text-align: center;
    
}
.tableInfo{
    margin-right: 150px;
    height: 100vh !important; 
    overflow-y: scroll !important;
}
.tableBody{
    text-align: center !important;
}